body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    color: white;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    cursor: default;
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 280px;
    border: none;
    padding: 25px;
    border: none;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.img-div {
    text-align: center;
}

.nft-img {
    width: 100%;
    border: none;
    border-radius: 10px;
    position: relative;
}

.eye-icon {
    display: none;
    position: absolute;
}

.discription-div h1 {
    font-size: 1.2rem;
}

.discription-div p {
    font-size: 0.8rem;
    color: hsl(215, 51%, 70%);
}

.info-div {
    font-size: 0.6rem;
    color: hsl(178, 100%, 50%);
}

.time {
    color: hsl(215, 51%, 70%);
    float: right;
}

hr {
    border: 1px solid hsl(215, 32%, 27%);
}

.time-icon {
    float: left;
    margin-right: 7px;
}

.eth-icon {
    float: left;
    margin-right: 6px;
}

.creater-info-div {
    display: flex;
}

.creater-info-div h3 {
    font-size: 0.85rem;
}

.creater {
    color: hsl(215, 51%, 70%);
    margin-right: 2px;
}

.creater-info-div img {
    width: 40px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

/* Hover Effects */

.nft-img:hover {
    cursor: pointer;
}

.discription-div h1:hover, .name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

